<div class="dashboard-content">
  <h2 class="dashboard-heading">Car Spaces</h2>
  <div class="search-container">
    <ng-container *ngIf="this.userType === 'provider'">
      <form (ngSubmit)="this.searchSpacesByDate()">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="mb-3">
              <label for="searchDateInput" class="form-label">Select Date</label>
              <input type="date" class="form-control" id="searchDateInput">
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="this.userType === 'consumer'">
      <form (ngSubmit)="this.searchSpacesByLocation()">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="mb-3">
              <label for="searchDateInput" class="form-label">Location</label>
              <input type="text" class="form-control" placeholder="Search Parking Space" id="searchDateInput"
                name="searchDateInput" [(ngModel)]="searchTerm">
            </div>
            <!-- <button class="btn btn-primary" type="submit">Search</button> -->
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <ng-container *ngIf="this.userType === 'provider'">
    <div class="table-card">
      <div class="d-flex flex-column gap-3">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Hourly Rate</th>
                <th scope="col">Daily Rate</th>
                <th scope="col">Car Spaces</th>
                <th scope="col">Reserved Spaces</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parking of parkingLots | filter : searchTerm; let ndx = index;">
                <td>{{ndx + 1}}</td>
                <td>{{parking.provider?.fName}}</td>
                <td>{{parking.address}}</td>
                <td>${{parking.hourRate}}</td>
                <td>${{parking.rate}}</td>
                <td>{{parking.availableSpaces}}</td>
                <td>{{parking.reservedSpaces}}</td>
                <td>
                  <div class="table-actions">
                    <a class="btn btn-action-table" [routerLink]="['/dashboard/space', parking._id]">
                      <img src="../../../assets/svgs/eye-icon.svg" />
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <div class="table-card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Park ID</th>
              <th scope="col">Booking ID</th>
              <th scope="col">Customer</th>
              <th scope="col">Start time</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>PID000015</td>
              <td>BID000015</td>
              <td>John Wick</td>
              <td>17:00</td>
              <td>4 hours</td>
            </tr>
            <tr>
              <td>1</td>
              <td>PID000015</td>
              <td>BID000015</td>
              <td>John Wick</td>
              <td>17:00</td>
              <td>4 hours</td>
            </tr>
            <tr>
            <tr>
              <td>1</td>
              <td>PID000015</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
            <tr>
              <td>1</td>
              <td>PID000015</td>
              <td>BID000015</td>
              <td>John Wick</td>
              <td>17:00</td>
              <td>4 hours</td>
            </tr>
            <tr>
              <td>1</td>
              <td>PID000015</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>1</td>
              <td>PID000015</td>
              <td>BID000015</td>
              <td>John Wick</td>
              <td>17:00</td>
              <td>4 hours</td>
            </tr>
            <tr>
              <td>1</td>
              <td>PID000015</td>
              <td>BID000015</td>
              <td>John Wick</td>
              <td>17:00</td>
              <td>4 hours</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </ng-container>
  <ng-container *ngIf="this.userType === 'consumer'">
    <div class="table-card">
      <div class="d-flex flex-column gap-3">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Hourly Rate</th>
                <th scope="col">Daily Rate</th>
                <th scope="col">Car Spaces</th>
                <th scope="col">Reserved Spaces</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parking of parkingLots | filter : searchTerm; let ndx = index;">
                <td>{{ndx + 1}}</td>
                <td>{{parking.provider?.fName}}</td>
                <td>{{parking.address}}</td>
                <td>${{parking.hourRate}}</td>
                <td>${{parking.rate}}</td>
                <td>{{parking.availableSpaces}}</td>
                <td>{{parking.reservedSpaces}}</td>
                <td>
                  <div class="table-actions">
                    <a class="btn btn-action-table" [routerLink]="['/dashboard/space', parking._id]">
                      <img src="../../../assets/svgs/eye-icon.svg" />
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</div>