<div class="auth-content">
  <h1 class="auth-title text-center">Consumer Registration</h1>
  <form class="auth-form">
    <div class="mb-3">
      <label for="FName" class="form-label">Full Name</label>
      <input type="text" class="form-control" name="FName" [(ngModel)]="authRequestModal.fullName" id="FName" placeholder="Enter your full name here" />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="authRequestModal.username" id="username" placeholder="Enter your username" />
    </div>
    <div class="mb-3">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" name="email" [(ngModel)]="authRequestModal.email"
        placeholder="Email address" />
    </div>
    <div class="mb-3 password-input">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" name="password" [(ngModel)]="authRequestModal.password"
        placeholder="Password" />
    </div>
    <div class="mb-3 password-input">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="authRequestModal.confirmPassword"
        placeholder="Confirm password" />
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" name="address" [(ngModel)]="authRequestModal.address" id="address" placeholder="Enter your address" />
    </div>
    <div class="mb-3">
      <label for="birthDate" class="form-label">Birth date</label>
      <input type="date" class="form-control" name="birthDate" [(ngModel)]="authRequestModal.birthDate" id="birthDate" />
    </div>
    <div class="mb-3">
      <label for="driverLicense" class="form-label">Driving License</label>
      <input type="text" class="form-control" name="driverLicense" [(ngModel)]="authRequestModal.driverLicense" id="driverLicense" placeholder="Enter your driving license no." />
    </div>
    <div class="mb-3">
      <label for="vehiclePlate" class="form-label">Vehicle License plate</label>
      <input type="text" class="form-control" name="vehiclePlate" [(ngModel)]="authRequestModal.vehiclePlate" id="vehiclePlate" placeholder="Enter your driving license no." />
    </div>
    <div class="mb-3">
      <label for="backAccount" class="form-label">Bank account</label>
      <input type="text" class="form-control" name="backAccount" [(ngModel)]="authRequestModal.backAccount" id="backAccount" placeholder="Enter your back account number" />
    </div>
    <div class="d-flex flex-column align-items-center justify-content-between mt-3 gap-3">
      <button class="btn btn-primary" (click)="register()">Register</button>
      <div class="d-flex flex-column align-items-center gap-2 w-100">
        <p class="link_text">Already have an account? <a  routerLink="/login">Login</a></p>
      </div>
    </div>
  </form>
  <!-- <div class="auth-body">
    <div class="body-content">
    </div>
  </div> -->
</div>
