<header>
  <div class="d-flex">
    <!-- <h4 class="welcome">Welcome Back {{userInfo.userName}}!!</h4> -->
    <button class="btn btn-menu btn-custom" (click)="toggleSidebar()">
      <img src="../../../assets/svgs/hamburger-menu-icon.svg" />
    </button>
  </div>
  <div class="dropdown">
    <button type="button" class="btn btn-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <!-- <img class="profile-image" src="https://picsum.photos/id/64/200/300"/> -->
      <div class="profile">
        <p class="username">Hi {{userInfo.userName}}!!</p>
      </div>
      <img class="chevron-icon" src="../../../assets/svgs/chevron-down-icon.svg" />
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <a class="dropdown-item" routerLink="/dashboard/profile">
            <span>My profile</span>
        </a>
      </li>
      <li class="w-100 mt-2">
        <button class="btn btn-outline-primary w-100" (click)="logout()">
          Logout
        </button>
      </li>
    </ul>
  </div>
</header>