
header{
  padding: .5rem;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(200, 100%, 99%);
  border-bottom: 1px solid #eaecf0;
}

.btn-custom{
  box-shadow: none;
  outline: none;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;

}

.btn.btn-dropdown{
  padding: 6px !important;
  border-radius: 100vh !important;
  border: 1px solid #DADADA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: none;
}

.profile,
.chevron-icon{
  display: block;
}

.profile-image{
  max-width: 2.5rem;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--clr-neutral-100);
  object-fit: cover;
  margin-right: .5rem;
}

.profile > p{
  margin-bottom: 0;
  text-align: start;
}

.profile > .username{
  color: #111213;
  font-size: 1rem;
  font-weight: 600;
}


.dropdown-menu{
  width: 14rem;
  padding: 1rem;
  box-shadow: none;
}

.dropdown-menu.show{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-profile{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-150);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.btn-profile > img{
  max-width: 100%;
  display: block;
}

.dropdown-item:active{
  color: var(--clr-neutral-100) !important;
  background-color: var(--clr-primary) !important;
  border-radius: .25rem;
}


.dropdown-item > span{
  font-weight: 600;
}


.btn-menu{
  display: none;
}

@media (max-width: 991px) {

  .btn-menu{
    display: block;
  }
}

.welcome {
  color: var(--clr-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.25rem;
  letter-spacing: 0.0265rem;
  margin-bottom: 0;
}