
<div class="dashboard-content" *ngIf="bookingRequestModal.showCheckout"> 
  <h2 class="dashboard-heading">Payment</h2>
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Name:</label>
        <p class="mb-0 fw-5">{{this.userInfo.name}} </p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Customer ID:</label>
        <p class="mb-0 fw-5">{{this.userInfo.id}}
        </p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Provider:</label>
        <p class="mb-0 fw-5">{{parkingLot.provider?.fName}}
        </p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Park ID:</label>
        <p class="mb-0">{{parkingLot._id}}</p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Nominal:</label>
        <p class="mb-0">${{bookingRequestModal.totalPrice}}</p>
      </div>
      <div class="my-5">
        <label class="form-label mb-2">Credit Card (VISA/Master)</label>
        <div class="mb-3">
          <label for="nameOnCardInput" class="form-label">Name on card</label>
          <input type="text" class="form-control" [(ngModel)]="bookingRequestModal.name" id="nameOnCardInput" name="nameOnCard">
        </div>
        <div class="mb-3">
          <label for="cardNumberInput" class="form-label">Credit card number</label>
          <input type="text" class="form-control" [(ngModel)]="bookingRequestModal.cardNumber" id="cardNumberInput" name="cardnumber">
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="mb-3">
              <label for="ccInput" class="form-label">CVC</label>
              <input type="text" class="form-control" [(ngModel)]="bookingRequestModal.cvc" id="ccInput" name="cvc">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <label for="expiryInput" class="form-label">Valid thru</label>
            <input type="text" class="form-control" [(ngModel)]="bookingRequestModal.validity" id="expiryInput" name="validThrough">
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-start">
        <button class="btn btn-primary" (click)="payNow()">Pay now</button>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-content" *ngIf="!bookingRequestModal.showCheckout">
  <h2 class="dashboard-heading">Car Space: {{parkingLot._id}}</h2>

  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Provider:</label>
        <p class="mb-0 fw-5">{{parkingLot.provider?.fName}}</p>
      </div>
      <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Address:</label>
        <p class="mb-0 fw-5">{{parkingLot.address}}
        </p>
      </div>
      <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Type of Car:</label>
        <p class="mb-0 fw-5">{{parkingLot.carType.join('|')}}
        </p>
      </div>
      <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Car Spaces:</label>
        <p class="mb-0">{{parkingLot.availableSpaces}}</p>
      </div>
      <div class="ms-2 d-flex flex-column flex-md-row align-items-md-center mb-2">
        <label class="form-label fw-semibold mb-0">Available:</label>
        <p class="mb-0">2</p>
      </div>
      <div class="ms-2 d-flex flex-column flex-md-row align-items-md-center mb-2">
        <label class="form-label fw-semibold mb-0">Reserved:</label>
        <p class="mb-0">3</p>
      </div>
      <!-- <div class="ms-2 d-flex flex-column flex-md-row align-items-md-start mb-2">
        <label class="form-label fw-semibold mb-0">Preview:</label>
        <div class="space-preview">
          <div class="each-space reserved-space">
            <span>P01</span>
          </div>
          <div class="each-space reserved-space">
            <span>P02</span>
          </div>
          <div class="each-space available-space">
            <span>P03</span>
            <input class="form-check-input" type="radio" name="selectedSpace" id="selectedSpace3" checked>
          </div>
          <div class="each-space reserved-space">
            <span>P04</span>
          </div>
          <div class="each-space available-space">
            <span>P05</span>
            <input class="form-check-input" type="radio" name="selectedSpace" id="selectedSpace5">
          </div>
        </div>
      </div> -->
      <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Rate Cost:</label>
        <div class="d-flex align-items-center gap-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" [value]="parkingLot.hourRate" name="flexRadioDefault" id="flexRadioDefault1" checked (change)="selectPaymentOption($event, true)">
            <label class="form-check-label input-custom-label" for="flexRadioDefault1">
              ${{parkingLot.hourRate}}/hour
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [value]="parkingLot.rate" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (change)="selectPaymentOption($event, false)">
            <label class="form-check-label input-custom-label" for="flexRadioDefault2">
              ${{parkingLot.rate}}/day
            </label>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-1">
        <label class="form-label fw-semibold mb-0">Reservation Date:</label>
        <input type="date" class="form-control" name="reservationDate" [(ngModel)]="bookingRequestModal.reservationDate" id="reservationDate" />
      </div>
      <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-1">
        <label class="form-label fw-semibold mb-0">Check In Time:</label>
        <select class="form-select" aria-label="Default select example" name="checkInTime" [(ngModel)]="bookingRequestModal.checkInTime" (change)="calculateTimeDifference()">
          <option selected value="">Select Time</option>
          <option *ngFor="let option of timeOptions" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>
      <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-1">
        <label class="form-label fw-semibold mb-0">Check Out Time:</label>
        <select class="form-select" aria-label="Default select example" name="checkOutTime" [(ngModel)]="bookingRequestModal.checkOutTime" (change)="calculateTimeDifference()">
          <option selected value="">Select Time</option>
          <option *ngFor="let option of timeOptions" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>
      <div class="mb-3">
        <span class="text-danger">&ast;</span> Note: Reservation always in the same day, using hourly or daily.
      </div>
      <div class="d-flex align-items-center justify-content-start">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservationModal" (click)="proceedCheckOut()">Proceed</button>
      </div>
    </div>
  </div>
</div>


<!-- reservation Modal -->
<div class="modal fade" id="reservationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reservationModalLabel">Reservation Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Provider:</label>
          <p class="mb-0 fw-5">{{parkingLot.provider?.fName}}</p>
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Address:</label>
          <p class="mb-0 fw-5">{{parkingLot.address}}
          </p>
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Type of Car:</label>
          <p class="mb-0 fw-5">{{parkingLot.carType.join('|')}}
          </p>
        </div>
        <!-- <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Park Reservation ID:</label>
          <p class="mb-0">P001</p>
        </div> -->
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Reservation Date:</label>
          <p class="mb-0">{{this.bookingRequestModal.reservationDate}}</p>
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Checkin Time:</label>
          <p class="mb-0">{{bookingRequestModal.checkInTime}}</p>
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Checkout Time:</label>
          <p class="mb-0">{{bookingRequestModal.checkOutTime}}</p>
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Duration:</label>
          <p class="mb-0">{{bookingRequestModal.isHourly ? bookingRequestModal.hourDifference + ' hours' : '1 day'}}</p>
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mb-2">
          <label class="form-label fw-semibold mb-0">Cost:</label>
          <p class="mb-0">${{bookingRequestModal.totalPrice}}</p>
        </div>
        <!-- <div class="mb-3">
          <span class="text-danger">&ast;</span> Note: A barcode will be generated after you book the slot. You must
          scan the barcode to enter
          the parking lot before 6:15 pm. Otherwise, auto-cancel reservation will be applied.
        </div> -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="bookingRequestModal.isAgreement" name="agreement">
          <label class="form-check-label mb-0 input-custom-label" for="flexCheckDefault">
            I agree
          </label>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary" (click)="showPayment()">Book</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- confirmation Modal -->
<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
          <p class="mb-0">A new order <strong>ID100055</strong> has been created and sent to your email. Please check
            it. Thank you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>