
<div class="dashboard-content">
  <h2 class="dashboard-heading">Payment</h2>
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Name:</label>
        <p class="mb-0 fw-5">Peter Alexander </p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Customer ID:</label>
        <p class="mb-0 fw-5">CID00001
        </p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Provider:</label>
        <p class="mb-0 fw-5">John Wick
        </p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Park ID:</label>
        <p class="mb-0">PID005</p>
      </div>
      <div class="d-flex align-items-center gap-2 mb-2">
        <label class="form-label fw-semibold mb-0">Nominal:</label>
        <p class="mb-0">$12</p>
      </div>
      <div class="my-5">
        <label class="form-label mb-2">Credit Card (VISA/Master)</label>
        <div class="mb-3">
          <label for="nameOnCardInput" class="form-label">Name on card</label>
          <input type="text" class="form-control" id="nameOnCardInput">
        </div>
        <div class="mb-3">
          <label for="cardNumberInput" class="form-label">Credit card number</label>
          <input type="text" class="form-control" id="cardNumberInput">
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="mb-3">
              <label for="ccInput" class="form-label">CC</label>
              <input type="text" class="form-control" id="ccInput">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <label for="expiryInput" class="form-label">Valid thru</label>
            <input type="text" class="form-control" id="expiryInput">
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-start">
        <button class="btn btn-primary">Pay now</button>
      </div>
    </div>
  </div>
</div>
