<div class="auth-content">
  <div class="auth-body">
    <div class="image-container">
      <img src="../../../assets/images/car-parking-image.jpeg"/>
    </div>
    <div class="body-content">
      <h1 class="auth-title text-center">Reset Password</h1>
      <form class="auth-form" (ngSubmit)="resetPassword()">
        <div class="mb-3 password-input">
          <label for="password" class="form-label">New Password</label>
          <input type="password" class="form-control" id="Password" name="password" [(ngModel)]="resetPasswordModal.password"
            placeholder="input your password here" />
        </div>
        <div class="mb-3 password-input">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="resetPasswordModal.confirmPassword"
            placeholder="input your password here" />
        </div>
        <div class="d-flex flex-column align-items-center justify-content-between mt-3">
          <button class="btn btn-primary" type="submit">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
