::ng-deep .ng-otp-input-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

::ng-deep .ng-otp-input-wrapper .otp-input {
  border-radius: .5rem !important;
  margin-right: 0 !important;
}

::ng-deep .ng-otp-input-wrapper .otp-input:focus,
::ng-deep .ng-otp-input-wrapper .otp-input:focus-visible{
  outline: solid 2px var(--clr-primary) !important;
  border: none !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}


@media (max-width: 420px){
  ::ng-deep .ng-otp-input-wrapper .otp-input  {
      width: 40px !important;
      height: 40px !important;
  }

}
