<div class="dashboard-content">
  <ng-container *ngIf="this.userType === 'provider'">
    <h2 class="dashboard-heading">Current Bookings</h2>
    <div class="table-card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Park ID</th>
              <th scope="col">Booking ID</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Start time</th>
              <th scope="col">End time</th>
              <!-- <th scope="col">Duration</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings; let ndx = index;">
              <td>{{ndx + 1}}</td>
              <td>{{booking._id}}</td>
              <td>{{userInfo.name}}</td>
              <td>{{booking.dataBooking}}</td>
              <td>{{booking.arrivalTime}}</td>
              <td>{{booking.checkoutTime}}</td>
              <!-- <td>4 hours</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="this.userType === 'consumer'">
    <h2 class="dashboard-heading">Bookings History</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col">Park ID</th> -->
          <th scope="col">Booking ID</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Start time</th>
          <th scope="col">End time</th>
          <!-- <th scope="col">Duration</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; let ndx = index;">
          <td>{{ndx + 1}}</td>
          <td>{{booking._id}}</td>
          <td>{{userInfo.name}}</td>
          <td>{{booking.dataBooking}}</td>
          <td>{{booking.arrivalTime}}</td>
          <td>{{booking.checkoutTime}}</td>
          <!-- <td>4 hours</td> -->
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>


<!-- review Modal -->
<div class="modal fade" id="reviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reviewModalLabel">Review</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">John Wick |34 Belmore Road | P03</div>
        <div class="d-flex align-items-center gap-3 mb-3">
          <h5 style="min-width: 90px">Service:</h5>
          <div class="rating">
            <span *ngFor="let star of stars; let i = index" (click)="selectServiceRating(i + 1)"
              [class.selected]="i < selectedServiceRating">&#9733;</span>
          </div>
        </div>
        <div class="d-flex align-items-center gap-3 mb-3">
          <h5 style="min-width: 90px">Hygiene:</h5>
          <div class="rating">
            <span *ngFor="let star of stars; let i = index" (click)="selectHygieneRating(i + 1)"
              [class.selected]="i < selectedHygieneRating">&#9733;</span>
          </div>
        </div>
        <div class="d-flex align-items-center gap-3 mb-3">
          <h5 style="min-width: 90px">Saftey:</h5>
          <div class="rating">
            <span *ngFor="let star of stars; let i = index" (click)="selectSafteyRating(i + 1)"
              [class.selected]="i < selectedSafteyRating">&#9733;</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="commentTextarea" class="form-label">Comment</label>
          <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary">Post</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>